@model Cdnvn.Phim.Web.Models.MetaTagModel

<!-- Place this data between the <head> tags of your website -->
<title>@Model.Title</title>
<meta name="description" content="@Model.Description" />
<meta name="keyword" content="@Model.Keyword" />


<!-- Google Authorship and Publisher Markup -->
<link rel="author" href="@String.Format("https://plus.google.com/{0}?rel=author",Model.GoogleId)"/>
<link rel="publisher" href="@String.Format("https://plus.google.com/{0}?rel=publisher",Model.GoogleId)"/>

<!-- Schema.org markup for Google+ -->
<meta itemprop="name" content="@Model.Title">
<meta itemprop="description" content="@Model.Description">
<meta itemprop="image" content="@Model.ImageUrl">

<!-- Open Graph data -->
<meta property="og:title" content="@Model.Title" />
<meta property="og:type" content="article" />
<meta property="og:url" content="@Model.Url" />
<meta property="og:image" content="@Model.ImageUrl" />
<meta property="og:description" content="@Model.Description" />
<meta property="og:site_name" content="@Model.Name" />