@model Cdnvn.Phim.Entities.Film

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Film</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ImageUrl)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ImageUrl)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IsTrainler)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsTrainler)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MetaKeyword)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MetaKeyword)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MetaDescription)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MetaDescription)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SEOName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SEOName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Published)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Published)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CreatedDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreatedDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ModifiedDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ModifiedDate)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
